<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.8" charset="utf-8" />
    <title>Ceará Invencibilidade</title>
    <link rel="shortcut icon" href="https://logodetimes.com/times/ceara/logo-ceara-256.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/central.css" type="text/css">
</head>


<body id="site">
    <div>
        <h2 id="textoP">
            <script src="../js/HoraDia.js">
            </script>
        </h2>
        <h1 id="textoP"> Há quanto tempo o Ceará Sporting Club está invicto?</h1>
        <h1 id="textoP">
            <script src="../js/invencibilidade.js">
            </script>
        </h1>
        <div class="center">
            <div id="simbolo">
                <img src="https://logodetimes.com/times/ceara/logo-ceara-256.png" alt="Vozão">
                <img src="https://logodetimes.com/times/ceara/logo-ceara-256.png" alt="Vozão">
                <img src="https://logodetimes.com/times/ceara/logo-ceara-256.png" alt="Vozão">
            </div>
        </div>
        <h4 id="textoP"> *Único Invicto do Brasil <img src="https://media.giphy.com/media/xiE7KEXydsgDVcFEOk/giphy.gif" alt="Respeita" class="vozao"></h4>

        <div class="git">
            <a href="https://github.com/FranciscoIuri/">
                <img src="https://i.imgur.com/92QWWVl.png" alt="Criador">
            </a>
        </div>
    </div>

</body>

</html>