<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=0.8" charset="utf-8" /> -->
    <title>Cear치 Invencibilidade</title>
    <link rel="stylesheet" href="Central.css">
</head>


<body>
    <span id="textoP"> H치 quanto tempo o Cear치 Sporting Club est치 invicto? </span>

</body>

</html>