#textoP {
    font-size: 150;
    text-align: center;
    color: white;
    padding: 0px;
}

body {
    height: 100%;
    width: 500px;
    margin: 0px auto;
    background-color: black;
    padding: 0px;
}

.fundo {
    height: 100%;
    margin: 0;
    padding: 0%;
    background-color: black;
}

#site {
    height: 100%;
    width: 100%;
    margin: 0px auto;
}

#simbolo img {
    display: inline-block;
    margin: auto;
    max-width: 100px;
}

.center {
    text-align: center;
}

.vozao {
    max-width: 100px;
}

.git img {
    max-width: 100px;
    max-height: 50px;
    width: auto;
    height: auto;
    float: right;
}